.hero {

  &__title {
    font-family: 'Audiowide';
    font-size: 25px;
    line-height: 1.28;
    text-align: right;

    background-color: #A59DFF;
    background: linear-gradient(103.84deg, #A59DFF 9.89%, #DC71FD 95.54%, #FF7E7E 99.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 36px;
      line-height: 1.27;
      text-align: center;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1.25;
    text-align: justify;
  
    color: #BDC1BE;

    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    column-gap: 20px;

    @media (max-width: 767px) {
      margin-bottom: 60px;
    }

    @media (min-width: 768px) {
      justify-content: center;
      margin-bottom: 20px;
    }
    
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25px;
    width: 76px;
   
    &:not(:last-child) {
      @include buttons-style;
    }

    &:not(:first-child) {
      @include border-style;
    }
        
  }

  &__button {
   color: #DEFFE1;
  }

  &__rights {
    font-size: 14px;
    line-height: 1.22;
    text-align: left;
  
    color: #BDC1BE;

    @media (min-width:768px) {
      text-align: center;
    }
  }

  &__imag {
    margin: 0 auto;

    max-width: 800px;
    height: 600px;

    background-image: url("/images/hero/Studio_Display-removebg-preview.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
