
.logo {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: $title-color;
  
}

.logo--white {
  color: #fff;
}

.bg {
  background-color: $background-color;
}

.title {
  font-family: 'Audiowide';
  // font-size: 28px;
  // line-height: 1.2;
  text-align: center;

  background: linear-gradient(89.97deg, #5748FF 19.47%, #873EFF 110.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  // margin-bottom: 80px;

  // @media (min-width: 1200px) {
  //   font-size: 46px;
  //   line-height: 1.1;
  // }
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.section {
  padding: 0 0 80px 0;
}

.button {
  @include buttons-style;
}

.display-none {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }

}
