
.logo {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: $title-color;
  
}

.logo--white {
  color: #fff;
}

.bg {
  background-color: $background-color;
}

.section {
  
}

.title {
  // color: $main-color;
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.2;
  // text-align: center;
  // margin: 0 0 50px 0;

  // @media (max-width: 1169px) {
  //   font-size: 28px;
  //   line-height: 1.17;
  // }
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.section {
  padding: 0 0 80px 0;
}
